{% extends 'base.html.twig' %}

{% block body %}
    <h2 clacc="page-header"> La première vue rappelera les
    informations générales de la série BLACKMIRROR et listera l'ensemble de ses épisodes.
    </h2>
{% endblock %}
