{% extends 'base.html.twig' %}

{% block body %}
    Videos

    <video width="400" height="300" controls="controls" poster="video/duel.jpg">
        <source src="https://youtu.be/nSDviEdvw4U" type='video/ogg; codecs="theora, vorbis"'>
        <source src="https://youtu.be/nSDviEdvw4U" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
        <source src="https://youtu.be/nSDviEdvw4U" type='video/webm; codecs="vp8, vorbis"'>
        Тег video не поддерживается вашим браузером.
        <a href="https://youtu.be/nSDviEdvw4U">Скачайте видео</a>.
    </video>
    <video>


        <source src="https://youtu.be/nSDviEdvw4U">

    </video>
{% endblock %}