{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
<div id="container">
<div id="welcome">
</div>
<div class="row">
    {{ render(controller('AppBundle:Todo:inform'))}}
    {{ render(controller('AppBundle:Todo:list'))}}
</div>
</div>
</div>
{% endblock %}