{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
<div id="container">
<div id="welcome">
<h1> Black Mirror (serie televisee)</h1>
</div>

<div id="status">

<div class="row">
    <div class="col-md-4">Genre</div>
    <div class="col-md-8">science-fiction
        Horreur
        Satire
        Thriller
        Drame</div>
</div>

<div class="row">

    <div class="col-md-4">Création</div>
    <div class="col-md-8">Charlie Brooker</div>
</div>

<div class="row">
    <div class="col-md-4">Pays d'origine	</div>
    <div class="col-md-8">Royaume-Uni</div>
</div>

<div class="row">
    <div class="col-md-4">Chaine d'origine</div>
    <div class="col-md-8">Channel 4 (2011?2014) Netflix (2016 - en cours)</div>
</div>

<div class="row">
    <div class="col-md-4">Nb. de saisons</div>
    <div class="col-md-8">4</div>
</div>

<div class="row">
    <div class="col-md-4">Nb. d'épisodes</div>
    <div class="col-md-8">19</div>
</div>

<div class="row">
    <div class="col-md-4">Durée</div>
    <div class="col-md-8">de 40 à 90 minutes</div>
</div>

    <div class="row">
    <h1>Episodes</h1>



<div class="row">


    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Saison</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="https://www.streaminggratuitvf.com/seriestreaming/black-mirror/saison-1/episode-1-streaming-fr-29">L'Hymne national (The National Anthem)</a></td>
            <td>Prémiere saison (2011)</td>
            <td><a href="/todo/details/1" class="btn btn-success">Voir</a>
            </td>
        </tr>

        <tr>
            <td><a href="https://www.streaminggratuitvf.com/seriestreaming/black-mirror/saison-1/episode-2">15 millions de m?rites (15 Million Merits)</a></td>
            <td>Prémiere saison (2011)</td>
            <td> <a href="/todo/details/2" class="btn btn-success">Voir</a>

            </td>
        </tr>

        <tr>
            <td><a href="https://www.streaminggratuitvf.com/seriestreaming/black-mirror/saison-1/episode-3">Retour sur image (The Entire History of You)</a></td>
            <td>Prémiere saison (2011)</td>
            <td> <a href="/todo/details/3" class="btn btn-success">Voir</a>
            </td>
        </tr>


        <tr>
            <td><a href="https://www.streaminggratuitvf.com/seriestreaming/black-mirror/saison-2/episode-1">Bientot de retour (Be Right Back)</a></td>
            <td>Deuxieme saison (2013)</td>
            <td> <a href="/todo/details/4" class="btn btn-success">Voir</a>
            </td>
        </tr>


        <tr>
            <td><a href="https://www.streaminggratuitvf.com/seriestreaming/black-mirror/saison-2/episode-2-streaming-fr-4">La Chasse (White Bear)</a></td>
            <td>Deuxieme saison (2013)</td>
            <td> <a href="/todo/details/5" class="btn btn-success">Voir</a>
            </td>
        </tr>

        <tr>
            <td><a href="https://www.streaminggratuitvf.com/seriestreaming/black-mirror/saison-2/episode-3">Le Show de Waldo (The Waldo Moment)</a></td>
            <td>Deuxieme saison (2013)</td>
            <td> <a href="/todo/details/6" class="btn btn-success">Voir</a>
            </td>
        </tr>




        <tr>
            <td><a href="https://www.streaminggratuitvf.com/seriestreaming/black-mirror/saison-2/episode-4">Blanc comme neige (White Christmas)</a></td>
            <td>Deuxieme saison (2013)</td>
            <td> <a href="/todo/details/7" class="btn btn-success">Voir</a>
            </td>
        </tr>




        <tr>
            <td><a href="https://www.streaminggratuitvf.com/seriestreaming/black-mirror/saison-2/episode-4">Playtest (Playtest)</a></td>
            <td>Troisiéme saison (2016)</td>
            <td> <a href="/todo/details/8" class="btn btn-success">Voir</a>
            </td>
        </tr>


        <tr>
            <td><a href="https://www.streaminggratuitvf.com/seriestreaming/black-mirror/saison-2/episode-4">Tais-toi et danse (Shut Up and Dance)</a></td>
            <td>Troisiéme saison (2016)</td>
            <td> <a href="/todo/details/9" class="btn btn-success">Voir</a>
            </td>
        </tr>


        <tr>
            <td><a href="https://www.streaminggratuitvf.com/seriestreaming/black-mirror/saison-2/episode-4">San Junipero (San Junipero)</a></td>
            <td>Troisiéme saison (2016)</td>
            <td> <a href="/todo/details/10" class="btn btn-success">Voir</a>
            </td>
        </tr>

        <tr>
            <td><a href="https://www.streaminggratuitvf.com/seriestreaming/black-mirror/saison-2/episode-4">USS Callister (USS Callister)</a></td>
            <td>Quatriéme saison (2017)</td>
            <td> <a href="/todo/details/11" class="btn btn-success">Voir</a>
            </td>
        </tr>

        <tr>
            <td><a href="https://www.streaminggratuitvf.com/seriestreaming/black-mirror/saison-2/episode-4">Archange (Arkangel)</a></td>
            <td>Quatriéme saison (2017)</td>
            <td> <a href="/todo/details/12" class="btn btn-success">Voir</a>
            </td>
        </tr>



        <tr>
            <td><a href="https://www.streaminggratuitvf.com/seriestreaming/black-mirror/saison-2/episode-4">Crocodile (Crocodile)</a></td>
            <td>Quatriéme saison (2017)</td>
            <td> <a href="/todo/details/13" class="btn btn-success">Voir</a>
            </td>
        </tr>



        <tr>
            <td><a href="https://www.streaminggratuitvf.com/seriestreaming/black-mirror/saison-2/episode-4">Hang the DJ (Hang the DJ)</a></td>
            <td>Quatriéme saison (2017)</td>
            <td> <a href="/todo/details/14" class="btn btn-success">Voir</a>
            </td>
        </tr>


        <tr>
            <td><a href="https://www.streaminggratuitvf.com/seriestreaming/black-mirror/saison-2/episode-4">Metalhead (Metalhead)</a></td>
            <td>Quatriéme saison (2017)</td>
            <td> <a href="/todo/details/15" class="btn btn-success">Voir</a>
            </td>
        </tr>


        <tr>
            <td><a href="https://www.streaminggratuitvf.com/seriestreaming/black-mirror/saison-2/episode-4">Black Museum (Black Museum)</a></td>
            <td>Quatriéme saison (2017)</td>
            <td> <a href="/todo/details/16" class="btn btn-success">Voir</a>
            </td>
        </tr>



        </tbody>
    </table>


</div>

</div>

<div id="next">
<p>
    <!--<iframe src="https://fr.wikipedia.org/wiki/Black_Mirror_(s%C3%A9rie_t%C3%A9l%C3%A9vis%C3%A9e)" align="left"></iframe>-->
</p>
</div>

</div>
</div>
{% endblock %}

{% block stylesheets %}
<style>
body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
h1 { font-size: 36px; }
h2 { font-size: 21px; margin-bottom: 1em; }
p { margin: 0 0 1em 0; }
a { color: #0000F0; }
a:hover { text-decoration: none; }
code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
#wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
#container { padding: 2em; }
#welcome, #status { margin-bottom: 2em; }
#welcome h1 span { display: block; font-size: 75%; }
#icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
#icon-book { display: none; }

@media (min-width: 768px) {
#wrapper { width: 80%; margin: 2em auto; }
#icon-book { display: inline-block; }
#status a, #next a { display: block; }

@-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
.sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
}
</style>
{% endblock %}
